<div class="section-heading">
    <p>Popular services</p>
    <h2 id="quick-actions-title">How can we help?</h2>
</div>
<section class="quick-actions" aria-labelledby="quick-actions-title">
    <div class="quick-actions__grid">
        <a class="btn-isp" href="#records" a11y-hit-target="@A11yTargetSize.Minimum">
            Mission
        </a>
        <a class="btn-isp" href="#safety" a11y-hit-target="@A11yTargetSize.Minimum">
            History
        </a>
        <a class="btn-isp" href="#services" a11y-hit-target="@A11yTargetSize.Minimum">
            Divisions
        </a>
        <a class="btn-isp" href="#contact" a11y-hit-target="@A11yTargetSize.Minimum">
            Awards
        </a>
        <a class="btn-isp" href="#safety" a11y-hit-target="@A11yTargetSize.Minimum">
            News
        </a>
        <a class="btn-isp" href="#services" a11y-hit-target="@A11yTargetSize.Minimum">
            Social Media
        </a>
        <a class="btn-isp" href="#contact" a11y-hit-target="@A11yTargetSize.Minimum">
            Contact ISP
        </a>
    </div>
</section>